{% extends "layout.html" %}
{% block body%}
    
        <div class="d-flex justify-content-center">
            <div class="card mt-3 w-50">
                {% if post.post_image %}
                    <img src="{{ url_for('static', filename='post_pics/' + post.post_image) }}" class="card-img-top" alt="...">
                {% endif %}
                <div class="card-body">
                    <div class="row">
                        <div class="col-1 ml-lg-1">
                            <img class="rounded-circle" style="height: 55px; width: 55px;" src="{{ url_for('static', filename='profile_pics/' + post.author.profile_image) }}" alt="pfp">
                        </div>
                        <div class="col-9 m-2">
                            <h6 class="card-subtitle m-2 text-muted">
                                <a class="mr-3" href="#">{{ post.author.username }}</a>
                                <small class="text-muted">{{ post.date_posted.strftime('%Y/%m/%d') }}</small>
                            </h6>
                            <h3 class="card-title">{{ post.title }}</h3>
                            <p class="card-text"><p class="card-text">{{ post.content }}</p></p> 

                            {% if post.author == user %}
                                <div>
                                    <a href="{{ url_for('update_post', post_id=post.id) }}" class="btn btn-success btn-sm m-1">Update</a>
                                    <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
                                </div>
                            {% endif %} 
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Are you sure you want to delete the post?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form method="POST" action="{{ url_for('delete_post', post_id=post.id) }}">
                        <input class="btn btn-danger" type="submit" value="Delete">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %} 