{% extends "layout.html" %}
{% block body%}
    
    <div class="d-flex justify-content-center">
        <div class="card mt-3 w-50">
            {% if post.post_image %}
                <img src="{{ url_for('static', filename='post_pics/' + post.post_image) }}" class="card-img-top" alt="...">
            {% endif %}
            <div class="card-body">
                <div class="row">
                    <div class="col-1 ml-lg-1">
                        <img class="rounded-circle mb-2" style="height: 55px; width: 55px;" src="{{ url_for('static', filename='profile_pics/' + post.author.profile_image) }}" alt="pfp">
                        
                    </div>
                    <div class="col-9 m-2">
                        <h6 class="card-subtitle m-2 text-muted">
                            <a class="mr-3" href="{{ url_for('users.user', user_id=post.author.id) }}">{{ post.author.username }}</a>
                            
                            <small class="text-muted">{{ post.date_posted.strftime('%Y/%m/%d') }}</small>
                            <div class="mt-2">
                                {% if not user.is_liked(post) %}
                                    <form action="{{ url_for('posts.like', post_id=post.id) }}" method="POST" class="d-flex">
                                        {{ form.hidden_tag() }}
                                        {{ form.submit(value='Like', class='btn btn-outline-primary btn-sm mr', style='width: 55px') }}
                                        <span class="text-muted btn p-1 mr-3">{{ likes }}</span>                           
                                    </form>
                                {% else %}
                                    <form action="{{ url_for('posts.unlike', post_id=post.id) }}" method="POST" class="d-flex">
                                        {{ form.hidden_tag() }}
                                        {{ form.submit(value='Unlike', class='btn btn-outline-danger btn-sm', style='width: 55px') }}
                                        <span class="text-muted btn p-1">{{ likes }}</span>                           
                                    </form>
                                {% endif %}
                            </div>  
                        </h6>
                        <h3><span class="card-title border-dark border-bottom">{{ post.title }}</span></h3>
                        <div class="border border-secondary rounded-2 p-2">
                            <p class="card-text "><p class="card-text">{{ post.content }}</p></p> 
                        </div>
                        
                        <div class="d-flex justify-content-right">
                            {% if post.author == user %}
                                <div>
                                    <a href="{{ url_for('posts.update_post', post_id=post.id) }}" class="btn btn-success btn-sm mt-1">Update</a>
                                    <button type="button" class="btn btn-danger btn-sm mt-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
                                </div>
                            {% endif %}
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <form id='form1' method="POST" class="mt-5 w-50" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
                
            <div class="form-floating mb-1">
                {% if form.content.errors %}
                {{ form.content(class="form-control is-invalid", id="floatingInput", placeholder="John Doe") }}
                <div class="invalid-feedback">
                    {% for error in form.content.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.content(class="form-control", id="floatingInput", placeholder="John Doe") }}
                {% endif %}
                {{ form.content.label(for="floatingInput") }}
            </div>

            <div class="mt-1 mb-3">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
    {% for comment in post.comments %}
        <div class="d-flex justify-content-center">
            <div class="card border-primary mt-3 w-50 mb-3">
                <div class="card-header">
                    <h5 class="card-title"><a href="{{ url_for('users.user', user_id=comment.user_id) }}">{{ comment.author.username }}</a></h5>
                    <small class="text-muted">{{ comment.date_posted.strftime('%Y/%m/%d') }}</small>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ comment.content }}</p>
                    {% if comment.author == user %}
                        <a href="{{ url_for('posts.delete_comment', post_id=post.id, comment_id=comment.id)}}" class="btn btn-danger">Delete</a>
                    {% endif %} 
                </div>
            </div>
        </div>

    {% endfor %}
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Are you sure you want to delete the post?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form method="POST" action="{{ url_for('posts.delete_post', post_id=post.id) }}">
                        <input class="btn btn-danger" type="submit" value="Delete">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %} 