{% extends "layout.html" %}
{% block body%}
    {% if not post.post_image %}
        <div class="d-flex justify-content-center">
            <div class="card mt-3 w-75">
                <div class="card-body">
                    <div class="row">
                        <div class="col-1 ml-lg-1">
                            <img class="rounded-circle" style="height: 55px; width: 55px; margin-right: 16px;" src="{{ url_for('static', filename='profile_pics/' + post.author.profile_image) }}" alt="pfp">
                        </div>
                        <div class="col-9">
                            <h6 class="card-subtitle mb-2 mt-1 text-muted">
                                <a class="mr-2" href="#">{{ post.author.username }}</a>
                                <small class="text-muted">{{ post.date_posted.strftime('%Y/%m/%d') }}</small>
                            </h6>
                            <h3 class="card-title">{{ post.title }}</h3>
                            <p class="card-text"><p class="card-text">{{ post.content }}</p></p> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="d-flex justify-content-center">

            <div class="card mt-2 w-75">
                <img src="{{ url_for('static', filename='post_pics/' + post.post_image) }}" class="card-img-top" alt="...">
                <h1>{{ url_for('static', filename='post_pics/' + post.post_image) }}</h1>
                <div class="card-body">
                    <div class="row">
                        <div class="col-1 ml-lg-1">
                            <img class="rounded-circle " style="height: 55px; width: 55px;" src="{{ url_for('static', filename='profile_pics/' + post.author.profile_image) }}" alt="pfp">
                        </div>
                        <div class="col-9">
                            <h6 class="card-subtitle mb-2 mt-1 text-muted">
                                <a class="mr-2" href="#">{{ post.author.username }}</a>
                                <small class="text-muted">{{ post.date_posted.strftime('%Y/%m/%d') }}</small>
                            </h6>
                            <h3 class="card-title">{{ post.title }}</h3>
                            <p class="card-text"><p class="card-text">{{ post.content }}</p></p> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    {% endif %}
{% endblock %} 