{% extends "layout.html" %}

{% block body %}
    
    <form method="POST" action="">
        <div class="card">
            <h4 class="card-header">Reset Password</h5>
            <div class="card-body">
                {{ form.hidden_tag() }}
                <div class="form-floating mb-3">
                    {% if form.password.errors %}
                        {{ form.password(class="form-control is-invalid", id="floatingInput", placeholder="name@example.com")}}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control", id="floatingInput", placeholder="name@example.com")}}
                    {% endif %}
                        {{ form.password.label(for="floatingInput") }}
                </div>                

                <div class="form-floating mb-3">
                    {% if form.confirm.errors %}
                        {{ form.confirm(class="form-control is-invalid", id="floatingInput", placeholder="name@example.com")}}
                        <div class="invalid-feedback">
                            {% for error in form.confirm.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirm(class="form-control", id="floatingInput", placeholder="name@example.com")}}
                    {% endif %}
                        {{ form.confirm.label(for="floatingInput") }}
                </div>                
                <div class="mt-3">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </div>
        </div>
    </form>
        
{% endblock %}