body {
    background-color: #B3E5FC;
    border-radius: 10px;
}

.card {
    border: none;
    border-radius: 10px;
    background-color: #fff;
}

.stats {
    background: #f2f5f8;
    color: #000;
}

.number1 {
    font-weight: 500;
}


.number2 {
    font-weight: 500;
}

.rating {
    font-size: 10px;
    color: #a1aab9;
}

.number3 {
    font-weight: 500;
}